/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
padding-top: 50px;
}

.sub-header {
padding-bottom: 10px;
border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
border: 0;
}

.sidebar {
display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #041b69;
        border-right: 1px solid #eee;
    }
}

.navbar-inverse{background-color: royalblue;}
.nav.nav-sidebar>li {
    position: relative;
    display: block;
    border-bottom: 1px dotted#428bca;
}

.nav-sidebar {
margin-right: -21px; 
margin-bottom: 20px;
margin-left: -20px;
}
.nav-sidebar > li > a {
padding-right: 20px;
padding-left: 20px;
color: #fff;
}
.nav>li>a:hover{
    background-color: #286090;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
color: #fff;
background-color: #428bca;
}

.main {
padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
margin-top: 0;
}

.placeholders {
margin-bottom: 30px;
text-align: center;
}
.placeholders h4 {
margin-bottom: 0;
}
.placeholder {
margin-bottom: 20px;
}
.placeholder img {
display: inline-block;
border-radius: 50%;
}

.form-control{
text-align: right;
}

.navbar-brand{
padding: 0;
}

.navbar-brand img{
height: 45px;
margin-top: 3px;
margin-left:42px;
}

.navbar-form{
padding: 0px 30px 0px 0px;
}

.navbar-nav>li>span{
padding: 15px;
color: white;
position: relative;
display: block;
}

.dropdown{
padding: 8px;
}

.agrega{
    border: 1px solid #fff;
    background: #fff;
    height: 34px;
    padding: 7px!important;
}

.btn-default{
border-radius: 0;
border:1px solid #d9edf7;
}

.user{
    background-color: #286090;
    border:1px solid #286090;
    color: white;
    height: 34px;
    padding: 7px!important;
}
.notify{
background: #13b7e8;
height: 34px;
width: 34px;
margin-top: 8px;
margin-left: -8px;
margin-right: 10px;
}
.notify .glyphicon{
color: white;
position: absolute;
top: 12px;
right: 12px;
}
.badge{
position: absolute;
top: 2px;
right: 2px;
background-color: red;
}

.breadcrumb{background-color: white;padding: 8px 2px;}

.breadcrumb>li+li:before {
padding: 0 5px;
color: #ccc;
content: "\2192";
}